nav {
    background-color: var(--color2-gradient-0);
    /* margin: 0 0 1em; */
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 9900;
}

ul.menu {
    display: none;
    float: left;
    margin-left: -0.5rem;
    padding: 0;
    position: absolute;
    background-color: var(--window-inner-background);
    color: var(--color2-gradient-0);
    font-size: 1.25rem;
    list-style-type: none;
}

#macoslogo img {
    height: 3rem;
    width: 3rem;
}

#apple-logo img {
    height: 3rem;
    width: 3rem;
}

.nav-list #time,
.nav-list #macoslogo {
    float: right;
}

.nav-list li {
    float: left;
    height: 3.5rem;
    line-height: 3rem;
    padding: 0.25rem 0.5rem 0;
}

.nav-list li:hover ul.menu li img {
    margin-left: -1.25em;
    margin-right: 0.25em;
}

.nav-list li:hover ul.menu li {
    clear: both;
    padding: 0.25em 1em 1.5em 2em;
    width: 100%;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.nav-wrapper {
    background-color: var(--window-inner-background);
    border-radius: 1em 1em 0 0;
    box-shadow: inset -2px -2px 0 0 var(--window-shadow), inset 2px 2px 0 0 var(--window-highlight);
    display: inline-block;
    height: 100%;
    padding: 0 1rem;
    width: 100%;
}

.nav-list #time:hover {
    background-color: inherit;
    color: inherit;
}

.nav-wrapper ul li:hover {
    background-color: #339;
    color: #fff;
}

.nav-list ul > li.noimg {
    padding-left: 1em !important;
}

.nav-wrapper ul li.disabled {
    color: #777;
}

.nav-wrapper ul li.disabled:hover {
    background-color: #777;
    color: #fff;
}

.nav-wrapper ul {
    font-size: 2.2rem;
}

#app-menu {
    right: 0;
}