@import "charcoal.css";
@import "checkbox.css";
@import "chicago.css";
@import "scrollbar.css";
@import "navigation.css";

*,
:before,
:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: "Chicago", "Charcoal", "Times New Roman", "Georgia", serif;
    font-size: 1.5em;
    font-weight: 100 !important;
}

.window ul {
    margin: 4px 0 3rem;
    padding: 0 0 0 4rem;
    font-size: 2rem;
    list-style-type: none;
}

.window {
    position: absolute;

    font-size: 2rem;
    font-weight: 400;
}

.window button {
    background-color: #dedede;
    border: 2px solid #000;
    border-radius: 6px;
    box-shadow: var(--button-box-shadow);
}

.window button:active {
    background-color: #666;
    box-shadow: var(--button-hover-bezel), inset -2px -2px 0 0 #888,
        inset -4px -4px 0 0 #777, inset 2px 2px 0 0 #444, inset 4px 4px 0 0 #555;
    color: #fff;
}

.window button:hover {
    box-shadow: var(--button-box-shadow), var(--button-hover-bezel);
}

.window .inner,
.window .inner-gameWindow {
    border: 2px solid #111;
    box-shadow: -2px -2px 0 0 rgb(153,153,153,.5), 2px 2px 0 0 rgb(256,256,256,.5), inset 2px 2px 0 0 rgb(256,256,256,.5),
        inset -2px -2px 0 0 rgb(153,153,153,.5);
}

.window .inner {
    background-color: #ddd;
    padding: 2em;
}

.window .inner-gameWindow {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
}

div.window .inner,
div.window .inner-gameWindow {
    column-span: all;
    overflow-x: hidden;
}

div.window .inner {
    overflow-y: scroll;
}

div.window.noscroll .inner {
    overflow: hidden;
}
.window,
.window .inner,
.window .inner-gameWindow {
    max-height: 100%;
    max-width: 100%;
    min-height: 160px;
    min-width: 200px;
}

.control-box {
    /*background-color: #222;*/
    box-shadow: inset -2px -2px 0 0 #fff, inset 2px 2px 0 0 #888;
    padding: 2px;
    /* position: absolute; */
    top: 6px;
    z-index: 100;
}

.control-box-inner {
    background: linear-gradient(
        tobottomright,
        #999,
        #aaa,
        #bbb,
        #ccc,
        #ddd,
        #eee,
        #fff
    );
    border: 2px solid #222;
    box-shadow: inset 2px 2px 0 0 #ccc, inset -2px -2px 0 0 #888;
    text-indent: -99999rem;
    display: block;
    height: 1rem;
    width: 1rem;
}

.control-box-inner:active {
    box-shadow: none;
}

.titlebar-header ::before,
.titlebar-header ::after {
    background-color: #ccc;
    /* content: "\00a0";
    display: block; */
}

.titlebar-header span {
    background-color: #ccc;
    background-image: none;
    white-space: nowrap;
    /* padding: 0 1rem; */
    /* margin-left: -2rem; */
}

.titlebar-header {
    font-size: 1.1rem;
    text-align: center;
    margin: 0 1rem;
    grid-area: header;
}

.titlebar-header-lines {
    background-image: url("../img/title-stripe-center-large.jpg");
    background-position: 10% 60%;
    background-repeat: repeat-x;
    font-size: 1.1rem;
}

.titlebar {
    display: grid;
    grid-template-columns: 28px auto min-content auto 28px 28px;
    align-items: center;
    column-gap: 4px;
    background: #ccc;
    box-shadow: 0px 4px #ccc;
}

.window {
    width: 100%;
    height: 100%;
    border: 2px solid #111;
    box-shadow: 2px 4px #111, inset 2px 2px 0 0 #fff, inset -2px -2px 0 0 #999,
        inset 8px 4px #ccc, inset -8px -8px #ccc;
    font-size: 2rem;
    font-weight: 400;
    padding: 2px 6px 6px;
    display: grid;
    grid-template-rows: min-content auto;
    row-gap: 4px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    display: contents;
    font-weight: 100 !important;
}

.zoom-box-inner {
    height: 12px;
    width: 14px;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}

.zoom-box.control-box {
    right: 40px;
}

.window-collapse-inner {
    height: 6px;
    margin-top: 6px;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
}

.window-collapse.control-box {
    right: 8px;
}

.inner .command_button {
    height: 22px;
}

#boot-button {
    left: 50%;
    position: relative;
    top: 50%;
    height: 200px;
}

button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

:root {
    --button-box-shadow: inset -2px -2px 0 0 #777, inset -4px -4px 0 0 #aaa,
        inset 2px 2px 0 0 #ddd, inset 4px 4px 0 0 #fff;
    --button-hover-bezel: 0 0 0 2px #aaa, 0 0 0 4px #ddd, 0 0 0 6px #000;
}
