@import url(charcoal.css);
@import url(checkbox.css);
@import url(chicago.css);
@import url(scrollbar.css);
@import url(navigation.css);

:root {

    --color2-gradient-0: #000;
    --color2-gradient-1: #111;
    --color2-gradient-2: #222;
    --color2-gradient-3: #333;
    --color2-gradient-4: #444;
    --color2-gradient-5: #555;
    --color2-gradient-6: #666;
    --color2-gradient-7: #777;

    --color1-gradient-8: #888;
    --color1-gradient-9: #999;
    --color1-gradient-10: #aaa;
    --color1-gradient-11: #bbb;
    --color1-gradient-12: #ccc;
    --color1-gradient-13: #ddd;
    --color1-gradient-14: #eee;
    --color1-gradient-15: #fff;

    --button-gradient-highlight: var(--color1-gradient-15);
    --button-gradient-shadow: var(--color1-gradient-9);
    --button-highlight: var(--color1-gradient-15);
    --button-shadow: var(--color1-gradient-8);

    --window-highlight: var(--color1-gradient-15);
    --window-shadow: var(--color1-gradient-9);
    --window-color: var(--color1-gradient-12);

    --window-inner-background: var(--color1-gradient-13);

    --scrollbar-thumb-highlight: #cdcdfc;
    --scrollbar-thumb-shadow: #6867c6;
    --scrollbar-thumb-gradient1: #353594;
    --scrollbar-thumb-gradient2: #9b9bf9;
    --scrollbar-thumb-gradient3: #cdcdfc;

    --button-background: var(--color1-gradient-13);
    --button-box-shadow: inset -1px -1px 0 0 var(--color2-gradient-7), inset -2px -2px 0 0 var(--color1-gradient-10),
        inset 1px 1px 0 0 var(--color1-gradient-13), inset 2px 2px 0 0 var(--color1-gradient-15);
    --button-hover-bezel: 0 0 0 1px var(--color1-gradient-10), 0 0 0 2px var(--color1-gradient-13), 0 0 0 3px var(--color2-gradient-0);
}

:root.whispurrTheme {
    --color2-gradient-0: #000;
    --color2-gradient-1: #120818;
    --color2-gradient-2: #240F2F;
    --color2-gradient-3: #361747;
    --color2-gradient-4: #471E5E;
    --color2-gradient-5: #592676;
    --color2-gradient-6: #6B2D8D;
    --color2-gradient-7: #7D35A5;
    --color2-gradient-8: #7D35A5;
    --color2-gradient-9: #9052B2;
    --color2-gradient-10: #A26FBF;
    --color2-gradient-11: #B58CCC;
    --color2-gradient-12: #C7A8D8;
    --color2-gradient-13: #DAC5E5;
    --color2-gradient-14: #ECE2F2;
    --color2-gradient-15: #fff;

    --color1-gradient-0: #000;
    --color1-gradient-1: #210B16;
    --color1-gradient-2: #41162D;
    --color1-gradient-3: #622143;
    --color1-gradient-4: #832B59;
    --color1-gradient-5: #A4366F;
    --color1-gradient-6: #C44186;
    --color1-gradient-7: #E54C9C;
    --color1-gradient-8: #E54C9C;
    --color1-gradient-9: #E966AA;
    --color1-gradient-10: #EC7FB8;
    --color1-gradient-11: #F099C6;
    --color1-gradient-12: #F4B2D5;
    --color1-gradient-13: #F8CCE3;
    --color1-gradient-14: #FBE5F1;
    --color1-gradient-15: #fff;
    
    --scrollbar-thumb-highlight: #DAC5E5;
    --scrollbar-thumb-shadow: #A26FBF;
    --scrollbar-thumb-gradient1: #7D35A5;
    --scrollbar-thumb-gradient2: #B58CCC;
    --scrollbar-thumb-gradient3: #DAC5E5;
}

body,
div.window.noscroll .inner,
html {
    overflow: hidden;
}
*,
:after,
:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body,
html {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    height: 100%;
    margin: 0;
    font-family: Chicago, Charcoal, "Times New Roman", Georgia, serif;
    font-size: .75em;
    font-weight: 100 !important;
}
.window ul {
    margin: 4px 0 1.5rem;
    padding: 0 0 0 2rem;
    font-size: inherit;
    list-style-type: none;
}
.window {
    position: absolute;
}
.window button {
    background-color: var(--button-background);
    border: 2px solid var(--color2-gradient-0);
    border-radius: 6px;
    box-shadow: var(--button-box-shadow);
}
.window button:active {
    background-color: var(--color2-gradient-6);
    box-shadow: var(--button-hover-bezel), inset -1px -1px 0 0 var(--color1-gradient-8),
        inset -2px -2px 0 0 var(--color2-gradient-7), inset 1px 1px 0 0 var(--color2-gradient-4), inset 2px 2px 0 0 var(--color2-gradient-5);
    color: var(--color1-gradient-15);
}
.window button:hover {
    box-shadow: var(--button-box-shadow), var(--button-hover-bezel);
}
.window .inner,
.window .inner-gameWindow {
    border: 2px solid var(--color2-gradient-1);
    box-shadow: -2px -2px 0 0 var(--window-shadow),
        2px 2px 0 0 var(--window-highlight),
        inset 2px 2px 0 0 var(--window-highlight),
        inset -2px -2px 0 0 var(--window-shadow);
        font-size: 1.5rem;
}
.window .inner {
    background-color: var(--window-inner-background);
    padding: 1em;
}
.window .inner-gameWindow {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
}
.titlebar-header ::after,
.titlebar-header ::before,
.titlebar-header span {
    background-color: var(--window-color);
}
div.window .inner,
div.window .inner-gameWindow {
    column-span: all;
    overflow-x: hidden;
}
div.window .inner {
    overflow-y: scroll;
}
.control-box {
    box-shadow: inset -2px -2px 0 0 var(--button-highlight), inset 2px 2px 0 0 var(--button-shadow);
    padding: 2px;
    top: 6px;
    z-index: 100;
}
.control-box-inner {
    background: linear-gradient(
        to bottom right,
        var(--button-gradient-shadow),
        var(--button-gradient-highlight)
    );
    border: 2px solid var(--color2-gradient-2);
    box-shadow: inset 2px 2px 0 0 var(--window-color), inset -2px -2px 0 0 var(--button-shadow);
    text-indent: -99999rem;
    display: block;
    height: 2rem;
    width: 2rem;
}
.control-box-inner:active {
    box-shadow: none;
}
.titlebar-header span {
    background-image: none;
    white-space: nowrap;
}
.titlebar-header {
    font-size: 2.2rem;
    text-align: center;
    margin: 0 1rem;
    grid-area: header;
}
.titlebar-header-lines {
    background-image: url("../img/title-stripe-center-large.jpg");
    background-position: 10% 60%;
    background-repeat: repeat-x;
    font-size: 2.2rem;
}
.titlebar {
    display: grid;
    grid-template-columns: 28px auto min-content auto 28px 28px;
    align-items: center;
    column-gap: 4px;
    background: var(--window-color);
    box-shadow: 0 4px var(--window-color);
}
.window {
    max-height: 100%;
    max-width: 100%;
    min-height: 160px;
    min-width: 200px;
    width: 100%;
    height: 100%;
    border: 2px solid var(--color2-gradient-1);
    box-shadow: 2px 4px var(--color2-gradient-1), inset 2px 2px 0 0 var(--window-highlight), inset -2px -2px 0 0 var(--window-shadow),
        inset 8px 4px var(--window-color), inset -8px -8px var(--window-color);
    font-size: 2rem;
    font-weight: 400;
    padding: 2px 6px 6px;
    display: grid;
    grid-template-rows: min-content auto;
    row-gap: 4px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    display: contents;
    font-weight: 100 !important;
}
.zoom-box-inner {
    height: 12px;
    width: 14px;
    border-bottom: 2px solid var(--color2-gradient-0);
    border-right: 2px solid var(--color2-gradient-0);
}
.zoom-box.control-box {
    right: 40px;
}
.window-collapse-inner {
    height: 6px;
    margin-top: 6px;
    border-bottom: 2px solid var(--color2-gradient-0);
    border-top: 2px solid var(--color2-gradient-0);
}
.window-collapse.control-box {
    right: 8px;
}
.inner .command_button {
    /* height: 22px; */
}
#boot-button {
    left: 50%;
    position: relative;
    top: 50%;
    height: 200px;
}
button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

