@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
    height: 100%;
    font-size: 53px;
    font-family: "Bebas Neue", cursive;
    color: #ffffff;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
        2px 2px 0 #000;
}

p {
    margin: 0;
    padding:0;
}